* {
    margin: 0;
    padding: 0;
}
.sidebar {
  height: 100%;
  background: #151719;
  
}

.sidebar nav a {
  color: rgba(230, 230, 230, .9);
  text-align: center;
  padding: 3% 1%;
  list-style: none;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  cursor: pointer;
}
